@model IEnumerable<BlazarStore.Models.CategoryByGender>

<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
@foreach (var item in Model)
{
<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter="'.'+@item.Category_by_gender">@item.Category_by_gender</li>
}
