@model PagedList.IPagedList<BlazarStore.Models.Product>
@using PagedList.Mvc
@{ 
    Layout = "~/Views/Shared/LayoutCategories.cshtml";
    string id_gender = Model.First().Category_by_gender_ID;
}

<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
    @foreach (var item in Model)
    {
        <div class="product-item men">
            <div class="product discount product_filter">
                <div class="product_image">
                    <img src=@item.Image_URL alt="">
                </div>
                <div class="favorite favorite_left"></div>
                @*<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>*@
                <div class="product_info">
                    <h6 class="product_name"><a href="single.html">@item.Description</a></h6>
                    <div class="product_price">$@item.Discount_Price__in_Rs__<span>$@item.Original_Price__in_Rs__</span></div>
                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
        </div>
     }
</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("RenderProductCategories", new { page, categoryId = id_gender }))
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
