@model IEnumerable<BlazarStore.Models.CategoryByGender>

<li id="all" class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
@foreach (var item in Model)
{
    <li id=@item.Category_by_gender_ID class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter="'.'+@item.Category_by_gender">@item.Category_by_gender</li>
}

<script src="~/Content/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<script>
    $("li").click(function (e) {
        var id = $(this).attr("id");
        if (id == "all") {
            $.ajax({
                url: "/Home/RenderAllProduct",
                data: { id: id },
                success: function (response) {
                    // Tạo một đối tượng jQuery từ chuỗi HTML response
                    var $response = $(response);

                    // Thêm thuộc tính data-isotope vào đối tượng div có class product-grid
                    $response.find('.product-grid').attr('data-isotope', '{ "itemSelector": ".product-item", "layoutMode": "fitRows" }');

                    // Thay thế nội dung của .product-grid bằng nội dung đã được chỉnh sửa
                    $('.product-grid').html($response);
                }
            });
        }
        else {
            $.ajax({
                url: "/Home/RenderProduct",
                data: { id: id },
                success: function (response) {
                    // Tạo một đối tượng jQuery từ chuỗi HTML response
                    var $response = $(response);

                    // Thêm thuộc tính data-isotope vào đối tượng div có class product-grid
                    $response.find('.product-grid').attr('data-isotope', '{ "itemSelector": ".product-item", "layoutMode": "fitRows" }');

                    // Thay thế nội dung của .product-grid bằng nội dung đã được chỉnh sửa
                    $('.product-grid').html($response);
                }
            });
        }
    });

</script>
